<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184677235035-uj26cpkuoopu64od49j7bbr1baskdrmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184677235035-uj26cpkuoopu64od49j7bbr1baskdrmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBrGAv62AU78_GnxR3ipi_XEBO-oF6gBS4</string>
	<key>GCM_SENDER_ID</key>
	<string>184677235035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markmakers.listeningletter</string>
	<key>PROJECT_ID</key>
	<string>listeningletter-ae3f9</string>
	<key>STORAGE_BUCKET</key>
	<string>listeningletter-ae3f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184677235035:ios:a56da08c3c6862f246027e</string>
</dict>
</plist>